.search-event form input[type="submit"],
.service-detail:before,
.title h2:after,
.title:after,
.title > p:after,
.speaker-img:after,
.speaker-img span:after,
.offer:hover .offer-inner:before,
.offer-inner > a,
.time-box:before,
.time-box:after,
.event-detail > span.event-date:before,
.package-info,
.package-img:after,
.coloured-layer:before,

.about,
.about:after,
.widget > form button,
.map:after,
.full-service-carousel .owl-nav > div:hover:before,
.schedule-tabs .nav li.active a,
.schedule-tabs .nav li.active a:hover,
.controls li.active,
.video:after,
.fancy-detail > span:before,
.fancy-service:hover:before,
.page-title h1:after,
.newsletter form input[type="submit"],
.error-page > form input[type="submit"],
.responsive-header > span,
.gallery-image a:before,
.gallery-img:before,
.post-img:before,
.blog-post-img:after,
.package a:hover,
.package a:hover:before,
.audioplayer-bar-played,
.audioplayer-volume-adjust div div,
.speaker-img::after,
.item,
.parallax-form a.button,
.parallax-form .minict_wrapper::after{
	background-color: #da2021;
}
.become-sponsor:before{
	background-color: transparent;
}
.title h2 span,
.speaker > span,
.parallax-title > h2 span,
.time-box p,
.snap-detail a,
.video-parallax > h3 span,
.package strong i,
.counters > span,
.big-service-detail > h4,
.schedule-tabs .tab-content .nav li.active a, 
.schedule-tabs .tab-content .nav li.active a:hover,
.social > a:hover,
.blog-post > span a:hover,
.parallax-text h2 span,
.blog-post.light > strong,
.page-title h1 span,
.blog-post > strong,
.abt-event h4,
.comming-soon h1,
.newsletter h4,
.error-page h1 span,
.error-text > p a,
.error-page h3,
.bottom-footer p a,
.about-detail > h3 span,
nav li:hover > a,nav li:hover > a span i,
.coloured-text,
.slide-title strong,
.slide-title2 strong,
.widget-title h4 span,
.widget ul li a:hover,
.blog-post > h3 a:hover,
.widget ul li:hover:before,
.event > h3 a:hover,
.title-side > h2,
.title2 > h2 span,
/*** Ver 1.2 ***/
.wedding-intro > h2 strong,
.wedding-intro > span,
.our-story > strong,
/*** Ver 1.3 ***/
.wedding-events .event-detail > span,
.blog-bar > h3 a:hover,
.blog-bar li a:hover,
.author a:hover{
	color:  #da2021;
}

.event-detail ul li:before,
.package-img:before,
.about:before,
.map:before,
.blog-post-img:before,
.upcoming-event.style2 .event-detail ul li:before,
.video:before,
.speaker-img::before,
.comming-soon .countdown li:before{
	border-right-color:  #da2021;
}